/*
 *  spa.css
 *  ルート名前空間スタイル
 *
 */

/** リセット開始 */

h1,h2,h3,h4,h5,h6,p{ margin-bottom : 6pt; }
ol,ul,dl { list-style-position : inside; }
* {
    -webkit-user-select : none;
    -khtml-user-select : none;
    -moz-user-select : none;
    -o-user-select : none;
    -ms-user-select : none;
    user-select : none;
    
    -webkit-user-drag : none;
    -moz-user-drag : none;
    user-drag: none;

    -webkit-tap-highlight-color : transparent;
    -webkit-touch-callout : none;
}

input, textarea, .spa-x-user-select {
    -webkit-user-select : text;
    -khtml-user-select : text;
    -moz-user-select : text;
    -o-user-select : text;
    -ms-user-select : text;
    user-select : text;


/**リセット終了 */

/** 標準セレクタ開始 */
body {
    font : 10pt 'Trebucket MS', Verdana, Helvetica, Arial, sans-serif;
    color   : #444;
    background-color : #888;
}
a { text-decoration : none; }
    a:link, a:visited { color : inherit; }
    a:hover { text-decoration : underline;}

strong {
    font-weight : 800;
    color       : #000;
}
/** 標準セレクタ終了 */

/** spa名前空間セレクタ開始 */
#spa {
    position    : absolute;
    top         : 0;
    left        : 0;
    bottom      : 0;
    right       : 0;
    background  : #fff;

    min-height  : 15em;
    min-width   : 35em;
    overflow    : hidden;
}
/** spa名前空間セレクタ終了 */

/** ユーティリティセレクタ開始 */
.spa-x-select{}
.spa-x-clearfloat{
    height      : 0     !important;
    float       : none  !important;
    visibility  : hidden!important;
    clear       : both  !important;
}
/** ユーティリティセレクタ終了 */
